---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

Below you can find my teaching experience during my undergraduate and graduate studies. 
<br>

On top of that, I have also been a grading TA for the following courses:
<ul>
  <li>UBC Math 101 (Integral Calculus with applications)</li>
  <li>UBC Math 152/221 (Linear Systems/ Matrix Algebra)</li>
  <li>UBC Math 307 (Applied Linear Algebra)</li>
</ul>

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
