---
layout: archive
permalink: /year-archive/
title: "Beyond Mathematics"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

Seems like you didn't get bored of me yapping in the previous pages (or you might did and that's exactly why you're here). So, here's some more yapping hehe!
Below, you can find some of my favorite poem analyses, along with some of my personal works in my native language.
They are quite premature, under no circumstances are they verified or coming from expertise, but I just wanted to share a tiny bit of the person behind 
the CV. Hope you enjoy it! 

---

{% capture written_year %}'None'{% endcapture %}
{% for post in site.posts %}
  {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
  {% if year != written_year %}
    <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
    {% capture written_year %}{{ year }}{% endcapture %}
  {% endif %}
  {% include archive-single.html %}
{% endfor %}
